/* Reset some default styling */
body,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Style the navbar */
nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  margin-left: 2rem;
}

.nav {
  display: flex;
  justify-content: center;
}

.auth-container {
  margin-right: 2rem;
}

.auth {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  list-style: none;
}

nav ul li a,#logout {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#logout{
  background: transparent;
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav ul li a:hover, #logout:hover {
  text-decoration: underline;
  color: #08c2ff;
}

/* Page structure */
header {
  margin-bottom: 20px;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.active {
  color: #006bff;
}

.error-message-container{
    display: flex;
    justify-content: center;
}

.error-message{
    font-weight: bold;
    color: #b60000;
}

.pagination-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item{
  text-decoration: none;
  padding: 10px;
  border: 2px solid black;
  background-color: #333;
  margin-left: 10px;
  color: #f0f0f0;
  font-size: 20px;
}

.active-page, .page-item:hover{
  color: #08c2ff;
}