<header>
    <nav>
        <ul>
            <li>
                <a href="/" class="<%= path ==='/' ? 'active' : '' %>">Home</a>
            </li>
            <li>
                <a href="/tasks" class="<%= path ==='/tasks' ? 'active' : '' %>">Tasks</a>
            </li>
            <li>
                <a href="/tasks/add-task-page" class="<%= path ==='/tasks/add-task-page' ? 'active' : '' %>">Add Task Page</a>
            </li>
        </ul>
    </nav>
</header>