<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/tasks/add-task-page">Add Task Page</a>
            </li>
        </ul>
    </nav>
</header>