<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/tasks/add-task-page">Add Task Page</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action='/tasks/add-task' method='POST'>
            <input type='text' name='title'>
            <button type='submit'>ADD TASK</button>
        </form>
    </main>
</body>

</html>