<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head.ejs") %>

    <body>
        <%- include("../includes/header.ejs") %>
            <main>
                <h1>404 page not found</h1>
                <!-- <% if (foods.length> 0) { %>
            <ul>
                <% foods.forEach(food=> { %>
                    <li>
                        <%= food.title %>
                    </li>
                    <% }) %>
            </ul>
        <% } %> -->
            </main>
    </body>

</html>